@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282626;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#gameIcon {
  max-width: 100% !important;
  height: 200 !important;
}

#banner {
  max-width: 100% !important;
}

svg {
  width: 70px !important;
  height: 70px !important;
}

.ReelRow {
  border: solid rgb(136, 84, 173) !important;
  border-radius: 10px;
  padding: 10px;
}

.middleRow {
  padding: 5px;
  background-color: white;
  border: solid green;
}